version: '3.8'

services:
  app1:
    build:
      dockerfile: .
    environment:
      - SERVER=app1
      - PORT=3000
    ports:
      - "3000:3000"
    
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app1